.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.refresh-user {
  background: #115882;
  padding: 12px 30px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 20px;
}

.userBox span {
  margin-right: 6px;
}

.userBox {
  width: 30%;
  box-shadow: 1px 1px 13px 1px #eaeaea;
  padding: 1px 15px;
  margin: 15px auto;
  border-left: 5px solid #ccc;
}

.userBox h4 {
  margin-bottom: 2px;
}

.userBox p {
  margin-top: 0px;
}

.showmore {
  margin: 5px 0px;
  font-size: 14px;
  padding: 10px 12px;
  background: #35cc94;
  color: #fff;
  border: 1px solid #35cc94;
  border-radius: 4px;
}

.nomargin {
  margin: 0px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 2px;
}

.dn {
  display: none;
}

.nomargina {
  margin: 0px;
  display: block;
  margin-left: 15px;
  margin-right: 2px;
}
